@import 'normalize.css/normalize';
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";
@import '@material/react-button/index';
@import '@material/react-text-field/index';
@import '@material/react-radio/index';
@import '@material/react-list/index';
@import '@material/react-menu-surface/index';
@import '@material/react-menu/index';
@import '@material/react-select/index';
@import '@material/react-snackbar/index';

// @import '@material/react-linear-progress/index';
@import '@rmwc/data-table/data-table';
@import '@material/linear-progress/dist/mdc.linear-progress';

.container {
    max-width: 700px;
    margin: 30px auto 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    .mdc-text-field {
        flex: 1;
    }
    .mdc-button {
        align-self: center;
        margin-left: 15px;
    }

    .controls {
        display: flex;
        &:nth-child(2) {
            margin: 15px 0 40px;
        }
        .mdc-select {
            margin-left: auto;
        }
    }

    .radio-container {
        display: flex;
        padding-right: 10px;
        background: whitesmoke;
    }
}

.rmwc-data-table, table {
    width: 100%;
}

